/* */

html {
    background-color: red;
    color:white;
}

.center{
    text-align: center;
    color: blue;
}

#name {
    text-align: right;
    color:white;
}

#image {
    width: 50%;
    display: block;
    margin: auto;
}

p {
    background-color: white;
    padding: 20px;
    border: 5px solid;
    font-family: "Times New Roman", Georgia, Serif;
}
